header h1 img {
  width:45px;
  height:45px;
}
header{
  height:40px;
  margin:10px;
}
nav{
width:700px;
  margin-left:40px;
}
nav ul{
  list-style:none;
  text-align: center;
  border-top: 1px solid red;
  border-bottom:1px solid red;
  padding: 10px 0;
}
nav ul li{
  display: inline;
  text-transform:uppercase;
  padding : 0 10px;
  letter-spacing:10px;
}
nav ul li a{
  text-decoration: none;
  color:black;
}
nav ul li a:hover{
  text-decoration: underline;
  color:orange;
}
aside#left{
  width:150px;
  float:left;
}
aside#right{

  height:300px;
  display:inline-block;
}
#left ul{
  margin:0;
  color:#fff;
  list-style:none;
  text-indent:15px;
}
#left h3{
  margin-left:40px;
  margin-bottom:0;
  background: #e3e3e3;
}
#left ul li{
  background: #3f3f3f;
  font-size:20px;
}
#left ul li a{
  text-decoration:none;
  color:#fff;
  display:block;
}
#left ul li a:hover{
  background:#d03;
}
#main{
  color:#444;
  overflow:hidden;
  float:left;
  width:600px;
  height:300px;
}
footer{
  background:#e3e3e3;

}
